/*
BriskStack Platform API

Unified API for all BriskStack platform services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package briskstackplatform

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type HelloWorldHealthAPI interface {

	/*
	HelloWorldV1HealthzGet Health check endpoint

	Returns service health status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHelloWorldV1HealthzGetRequest
	*/
	HelloWorldV1HealthzGet(ctx context.Context) ApiHelloWorldV1HealthzGetRequest

	// HelloWorldV1HealthzGetExecute executes the request
	//  @return HelloWorldHealthzResponse
	HelloWorldV1HealthzGetExecute(r ApiHelloWorldV1HealthzGetRequest) (*HelloWorldHealthzResponse, *http.Response, error)
}

// HelloWorldHealthAPIService HelloWorldHealthAPI service
type HelloWorldHealthAPIService service

type ApiHelloWorldV1HealthzGetRequest struct {
	ctx context.Context
	ApiService HelloWorldHealthAPI
}

func (r ApiHelloWorldV1HealthzGetRequest) Execute() (*HelloWorldHealthzResponse, *http.Response, error) {
	return r.ApiService.HelloWorldV1HealthzGetExecute(r)
}

/*
HelloWorldV1HealthzGet Health check endpoint

Returns service health status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHelloWorldV1HealthzGetRequest
*/
func (a *HelloWorldHealthAPIService) HelloWorldV1HealthzGet(ctx context.Context) ApiHelloWorldV1HealthzGetRequest {
	return ApiHelloWorldV1HealthzGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HelloWorldHealthzResponse
func (a *HelloWorldHealthAPIService) HelloWorldV1HealthzGetExecute(r ApiHelloWorldV1HealthzGetRequest) (*HelloWorldHealthzResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HelloWorldHealthzResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelloWorldHealthAPIService.HelloWorldV1HealthzGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hello-world/v1/healthz"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
