/*
BriskStack Platform API

Unified API for all BriskStack platform services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package briskstack

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type HelloWorldAuthAPI interface {

	/*
	HelloWorldV1ProtectedGet Protected endpoint (requires authentication)

	Demonstrates authentication - requires valid user JWT from Supabase

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHelloWorldV1ProtectedGetRequest
	*/
	HelloWorldV1ProtectedGet(ctx context.Context) ApiHelloWorldV1ProtectedGetRequest

	// HelloWorldV1ProtectedGetExecute executes the request
	//  @return HelloWorldProtectedResponse
	HelloWorldV1ProtectedGetExecute(r ApiHelloWorldV1ProtectedGetRequest) (*HelloWorldProtectedResponse, *http.Response, error)
}

// HelloWorldAuthAPIService HelloWorldAuthAPI service
type HelloWorldAuthAPIService service

type ApiHelloWorldV1ProtectedGetRequest struct {
	ctx context.Context
	ApiService HelloWorldAuthAPI
}

func (r ApiHelloWorldV1ProtectedGetRequest) Execute() (*HelloWorldProtectedResponse, *http.Response, error) {
	return r.ApiService.HelloWorldV1ProtectedGetExecute(r)
}

/*
HelloWorldV1ProtectedGet Protected endpoint (requires authentication)

Demonstrates authentication - requires valid user JWT from Supabase

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHelloWorldV1ProtectedGetRequest
*/
func (a *HelloWorldAuthAPIService) HelloWorldV1ProtectedGet(ctx context.Context) ApiHelloWorldV1ProtectedGetRequest {
	return ApiHelloWorldV1ProtectedGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HelloWorldProtectedResponse
func (a *HelloWorldAuthAPIService) HelloWorldV1ProtectedGetExecute(r ApiHelloWorldV1ProtectedGetRequest) (*HelloWorldProtectedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HelloWorldProtectedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelloWorldAuthAPIService.HelloWorldV1ProtectedGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hello-world/v1/protected"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HelloWorldErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
