/*
BriskStack Platform API

Unified API for all BriskStack platform services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package briskstack

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type HelloWorldCoreAPI interface {

	/*
	HelloWorldV1Get Hello endpoint

	Returns a friendly hello message with service information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHelloWorldV1GetRequest
	*/
	HelloWorldV1Get(ctx context.Context) ApiHelloWorldV1GetRequest

	// HelloWorldV1GetExecute executes the request
	//  @return HelloWorldHelloResponse
	HelloWorldV1GetExecute(r ApiHelloWorldV1GetRequest) (*HelloWorldHelloResponse, *http.Response, error)
}

// HelloWorldCoreAPIService HelloWorldCoreAPI service
type HelloWorldCoreAPIService service

type ApiHelloWorldV1GetRequest struct {
	ctx context.Context
	ApiService HelloWorldCoreAPI
}

func (r ApiHelloWorldV1GetRequest) Execute() (*HelloWorldHelloResponse, *http.Response, error) {
	return r.ApiService.HelloWorldV1GetExecute(r)
}

/*
HelloWorldV1Get Hello endpoint

Returns a friendly hello message with service information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHelloWorldV1GetRequest
*/
func (a *HelloWorldCoreAPIService) HelloWorldV1Get(ctx context.Context) ApiHelloWorldV1GetRequest {
	return ApiHelloWorldV1GetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HelloWorldHelloResponse
func (a *HelloWorldCoreAPIService) HelloWorldV1GetExecute(r ApiHelloWorldV1GetRequest) (*HelloWorldHelloResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HelloWorldHelloResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelloWorldCoreAPIService.HelloWorldV1Get")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hello-world/v1/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
